:root{
    font-size: 16px;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: wheat;
    color: hsl(0, 0%, 0%);
    font-weight: 900;
    font-size: 1.5rem;
}

.tile{
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    text-transform: capitalize;
}

.rows{
    display: flex;
    gap: 0.25em;
}

.board{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: lightslategray;
}

.close{
    background-color: yellow;
}