#loading {
    background-image: url('/assets/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 9999999;
}